[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
colorama = "*"
markovify = "*"
praw = "*"
"psycopg2-binary" = "*"
requests = "*"
SQLAlchemy = "*"
pip = "<=18.0"
pytz = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
mypy = "*"
"e1839a8" = {editable = true, path = "."}

[requires]
python_version = "3.7"
