# This is an example of the configuration file needed for SubredditSimulator.
# Update this to suit your deployment and rename this to "subreddit_simulator.cfg".

# Database configuration.
[database]
system = postgresql
host = localhost
port = 5432
database = database_name
username = database_username
password = database_password

# SubredditSimulator run-time configuration.
[simulator]
# Wait at least that many seconds before
# posting a comment, submission, or updating
# the leaderboards (by the moderator account).
comment_delay_seconds = 300
submission_delay_seconds = 1200
leaderboard_update_delay_seconds = 3600

# SubredditSimulator settings.
[settings]
# Subreddit where the bot accounts will post comments/submissions.
subreddit = r/ProjectOblio
# Moderator account for the subreddit above.
owner = mod_account
# Password of the moderator account.
password = xxxxxxxx

# OAuth2 script application authentication parameters.
# See: https://praw.readthedocs.io/en/latest/getting_started/authentication.html#oauth
client_id = yyyyyyyy
client_secret = zzzzzzzzz
user_agent = linux:com.github.project-oblio:v1.0 (by /u/mod_account)

# How many comments/submissions to use at the most for training.
max_corpus_size = 1000

# Reddit accounts to use for the bot.
# NOTE! Each of those account must be authorized as a "developer"
#       for the script application (using "add developer")!
[accounts]
usernames_csv = bot_user1, bot_user2, bot_user3
passwords_csv = xxxxxxxxx, yyyyyyyyy, zzzzzzzzz
subreddits_csv = r/Bitcoin, r/Monet, r/Ripple

# TopSubredditsParser configuration.
[top_subreddits]
# URL to use when fetching a list of top subreddits.
url = https://www.crypto-roadmaps.com/single-post/2018/05/01/Top-100-SubReddits
# Regular expression for subreddit names to match in the response.
name_regexp = ^.*\b(r/[A-Za-z0-9_-]+)\b.*$
