# This is an example of the configuration file needed for SubredditSimulator.
# Update this to suit your deployment and rename this to "subreddit_simulator.cfg".

# Database configuration.
[database]
system = postgresql
host = localhost
port = 5432
database = database_name
username = database_username
password = database_password

# SubredditSimulator settings.
[settings]
# Wait at least that many seconds before
# posting a comment, submission, updating
# the leaderboards (by the moderator account),
# or voting.
# NOTE: If any of those values are less than 0,
# then the action won't be performed!
comment_delay_seconds = 600
submission_delay_seconds = 1200
leaderboard_update_delay_seconds = 1800
main_loop_delay_seconds = 60
voting_delay_seconds = 60

# Subreddit where the bot accounts will post comments/submissions.
subreddit = r/ProjectOblio
# Owner account for the subreddit above (won't get replies).
owner = owner_account
# Moderator account for the subreddit above.
moderator = mod_account

# OAuth2 script application authentication parameters.
# See: https://praw.readthedocs.io/en/latest/getting_started/authentication.html#oauth
client_id = yyyyyyyy
client_secret = zzzzzzzzz
user_agent = linux:com.github.project-oblio:v1.0 (by /u/owner_account)

# How many comments/submissions to use at the most for training.
max_corpus_size = 1000

# Ignored users can be a comma-separated list of Reddit usernames.
ignored_users =

# The following settings shouldn't be changed unless using a
# custom Reddit instance on a different domain.
# See: https://praw.readthedocs.io/en/latest/getting_started/configuration/options.html
# NOTE! There is a typo in the above docs: there should NOT be a "_" after the kind!
# (e.g. "comment_kind = t1" is correct, "comment_kind = t1_" is NOT!
comment_kind = t1
message_kind = t4
redditor_kind = t2
submission_kind = t3
subreddit_kind = t5
oauth_url = https://oauth.reddit.com
reddit_url = https://www.reddit.com
short_url = https://redd.it

# If the following is set to True, On, Yes, or 1 (case-insensitive),
# the praw API requestor class will allow self-signed SSL
# certificates. Only needed when using a custom Reddit instance!
allow_self_signed_ssl_certs =

# Reddit accounts to use for the bot, along with their passwords,
# and subreddits to use for training. All values are comma-separated
# and any spaces are ignored.
#
# NOTE! Each of those account must be authorized as a "developer"
#       for the script application (using "add developer")!
#
# IMPORTANT! Usernames and passwords must have the same number of
#            entries, and subreddits must be at least as many as
#            the users (more are OK and will be ignored)
[accounts]
usernames_csv = mod_account, bot_user2, bot_user3
passwords_csv = xxxxxxxxx, yyyyyyyyy, zzzzzzzzz

# Run "python subreddit_simulator/top_subreddits.py" to get those and more.
subreddits_csv = r/Bitcoin, r/Monet, r/Ripple

# TopSubredditsParser configuration.
[top_subreddits]
# URL to use when fetching a list of top subreddits.
url = https://www.crypto-roadmaps.com/single-post/2018/05/01/Top-100-SubReddits
# Regular expression for subreddit names to match in the response.
name_regexp = ^.*\b(r/[A-Za-z0-9_-]+)\b.*$
